body {
  background-color: rgb(187, 28, 57);
  color: white;
}

h1 {
  line-height: 27px;
  font-size: 36px;
  margin-top: 10px;
}

.green {
  color: rgb(10, 255, 10);
}

.red {
  color: red;
}

.percent25 {
  width: 25%;
}

.percent50 {
  width: 50%;
}

.percent75 {
  width: 75%;
}

.percent100 {
  width: 100%;
}