body {
  background: url('../img/cinema.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: 'Questrial', sans-serif;
}

.logo {
  width: 35%;
  margin: 15px 3px 15px 7px;
}

.navbar-right {
  margin: 20px 0;
}

#elements-display {
  background-color: rgb(0, 0, 0, .6);
}

.heading {
  color: rgb(175, 8, 8);
  border-bottom: gainsboro 1px solid;
}

.selection-display {
  border: white solid 1px;
  min-height: 350px;
}

.budget-difference {
  margin-bottom: 2px;
}

.budget-remaining {
  margin-top: 0;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.green {
  color: rgb(10, 255, 10);
}

.red {
  color: red;
}

.percent25 {
  width: 25%;
}

.percent50 {
  width: 50%;
}

.percent75 {
  width: 75%;
}

.percent100 {
  width: 100%;
}